<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>launched.trelleux</string>
	<key>ProgramArguments</key>
	<array>
		<string>/path/to/trelleux/venv/bin/python</string>
		<string>/path/to/trelleux/update_trello_with_macos_reminders.py</string>
	</array>
	<key>RootDirectory</key>
	<string>/path/to/trelleux</string>
	<key>StandardErrorPath</key>
	<string>/path/to/trelleux/error.log</string>
	<key>StandardOutPath</key>
	<string>/path/to/trelleux/out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>59</integer>
		</dict>
	</array>
	<key>UserName</key>
	<string>USERNAME</string>
</dict>
</plist>
