# project reqs
django>=2
psycopg2
celery
flower
djangorestframework==3.3.1
redis
pygments

# usual stuff
pillow
python-dateutil
unidecode
django-object-actions
watchdog

# developer
django-extensions
ipython
ipdb
